{{define "title"}}Admin - dajtu{{end}}
{{define "content"}}
    <h1>Dashboard</h1>
    <div class="stats">
        <div class="stat">
            <a href="/admin/images">
                <div class="stat-value">{{.TotalImages}}</div>
                <div class="stat-label">Zdjęć</div>
            </a>
        </div>
        <div class="stat">
            <a href="/admin/galleries">
                <div class="stat-value">{{.TotalGalleries}}</div>
                <div class="stat-label">Galerii</div>
            </a>
        </div>
        <div class="stat">
            <a href="/admin/users">
                <div class="stat-value">{{.TotalUsers}}</div>
                <div class="stat-label">Użytkowników</div>
            </a>
        </div>
        <div class="stat">
            <div class="stat-value">{{printf "%.2f" (divf .DiskUsageBytes 1073741824)}} GB</div>
            <div class="stat-label">Zajęte miejsce</div>
        </div>
    </div>
{{end}}
{{template "admin_base" .}}
