{{define "title"}}Użytkownicy - Admin dajtu{{end}}
{{define "content"}}
    <h1>Użytkownicy <span>({{len .}})</span></h1>
    <table>
        <tr><th>ID</th><th>Nick</th><th>Slug</th><th>Utworzony</th></tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>
                <a href="/u/{{.Slug}}">{{.DisplayName}}</a>
                <a href="/admin/users/{{.Slug}}" class="adm">[ADM]</a>
            </td>
            <td>{{.Slug}}</td>
            <td>{{formatDate .CreatedAt}}</td>
        </tr>
        {{else}}
        <tr><td colspan="4" style="color:#666;">Brak użytkowników</td></tr>
        {{end}}
    </table>
{{end}}
{{template "admin_base" .}}
